/* Content */

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    font-family: system-ui;
}

.full-width {
    width: 100vw;
    justify-content: space-between;
}

.centered {
    text-align: center;
}

p {
    text-align: center;
    font-weight: 700;
    font-size: 4vw;
    margin: 0;
}

/* HEADER */

.title {
    float: right;
    text-align: right;
    margin: 3%
}

.name {
    text-transform: uppercase;
    font-size: 8vw;
    padding: 0;
    margin: 0;
}

.subtitle {
    text-transform: uppercase;
    font-size: 3vw;
    margin: 0;
}

.header-img {
    width: 15%;
    margin: 3%;
}

hr {
    width: 100%;
    height: 2px;
    background: #2d3c49;
    margin: 1.5vw 2vw;
}

/* Main Image */

.main-img {
    width: 100%;
    height: 50vw;
    background-image: url(img/snowy-mountain.jpg);
    background-position: 100% 100%;
    background-size: cover;
}

/* Featured Work */

.featured {
    margin: 2%;
}

.featured-title {
    font-size: 3vw;
}

.featured-list {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-between;
}

.featured-work {
    width: 30%;
}

.featured-work a {
    font-size: 1.5vw;
    text-decoration: none;
    color: #333333;
}

.featured-default {
    width: 100%;
    height: 20vw;
    margin: 0;
    background-image: url(img/placeholder.png);
    background-position: 50% 50%;
    background-size: cover;
}

.quantarium {
    background-image: url(img/quantarium.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.game-art {
    background-image: url(img/pixel-art.png);
    background-repeat: no-repeat;
}